## **Library**

In [1]:
import time #menghitung waktu
import pickle #tipe data menyimpan model

import pandas as pd
import numpy as np

from sklearn.linear_model import LogisticRegression #metode belajar
from sklearn.model_selection import train_test_split #proses belajar
from sklearn.metrics import classification_report #hasil belajar

## **Load Data**

In [2]:
data = pd.read_csv('Prediction Insurance.csv')
data.head(1)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28,0,> 2 Years,Yes,40454,26,217,1

In [3]:
data.shape

(381109, 12)

In [4]:
data.groupby(['Previously_Insured','Response']).agg({'id':'count'}).unstack()

                        id
Response                 0      1
Previously_Insured
0                   159929  46552
1                   174470    158

In [5]:
data.groupby(['Gender','Response']).agg({'id':'count'}).unstack()

              id
Response       0      1
Gender
Female    156835  18185
Male      177564  28525

In [6]:
data.groupby(['Driving_License','Response']).agg({'id':'count'}).unstack()

                     id
Response              0      1
Driving_License
0                   771     41
1                333628  46669

In [7]:
data.groupby(['Vehicle_Damage','Response']).agg({'id':'count'}).unstack()

                    id
Response             0      1
Vehicle_Damage
No              187714    982
Yes             146685  45728

In [8]:
data = data[['Gender','Driving_License','Previously_Insured','Vehicle_Damage','Response']]
data.head(5)

   Gender  Driving_License  Previously_Insured Vehicle_Damage  Response
0    Male                1                   0            Yes         1
1    Male                1                   0             No         0
2    Male                1                   0            Yes         1
3    Male                1                   1             No         0
4  Female                1                   1             No         0

In [9]:
#preprocessing
data['Gender'] = data['Gender'].map({'Male':0, 'Female':1})
data['Vehicle_Damage'] = data['Vehicle_Damage'].map({'No':0, 'Yes':1})
data.head(5)

   Gender  Driving_License  Previously_Insured  Vehicle_Damage  Response
0       0                1                   0               1         1
1       0                1                   0               0         0
2       0                1                   0               1         1
3       0                1                   1               0         0
4       1                1                   1               0         0

In [13]:
#data modelling
x = data.drop('Response', axis=1) #inputan
y = data['Response'] #outputan

#proses belajar dan cara belajar
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=0)
start = time.time()
model = LogisticRegression(max_iter=100000)

#hasil belajar
model.fit(x_train, y_train)
stop = time.time()
print(f"Training Time {stop-start} Sekon.....")

Training Time 1.0496447086334229 Sekon.....

In [14]:
#model export
with open('modelLogistic Regression.pkl','wb') as file:
    pickle.dump(model, file)

In [16]:
#model evaluation
y_predict = model.predict(x_test)
print(classification_report(y_predict, y_test))

              precision    recall  f1-score   support

           0       1.00      0.88      0.93     76222
           1       0.00      0.00      0.00         0

    accuracy                           0.88     76222
   macro avg       0.50      0.44      0.47     76222
weighted avg       1.00      0.88      0.93     76222

C:\Users\anita\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\anita\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\anita\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))